@media (max-width: 1150px) {
    body {
        background: url(../images/background-pattern-mobile.svg) no-repeat center -120%/contain;
    }
}
@media (max-width: 970px) {
    body {
        background-position: center -70%;    
    }
}
@media (max-width: 870px) {
    body {
        background-position: center -20%;
    }
}
@media (max-width: 475px) {
    body {
        background-position: center 0;
    }
    .card .questions .question {
        .question-title {
            h2 {
                max-width: 250px;
            }
        }
    }
}
@media (max-width: 350px) {
    .card .questions .question {
        .question-title {
            h2 {
                max-width: 160px;
            }
        }
    }
}